@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

button span {
  color: theme("colors.shipGray");
}

footer .ant-typography,
header .ant-typography {
  color: theme("colors.springWood");
}

footer a {
  color: theme("colors.seaBuckthorn") !important;
}
