@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

button span {
  color: theme("colors.shipGray");
}

footer .ant-typography,
header .ant-typography {
  color: theme("colors.springWood");
}

footer a {
  color: theme("colors.seaBuckthorn") !important;
}

.ant-table {
  background-color: theme("colors.shipGray") !important;
  color: theme("colors.springWood") !important;
}

.ant-table-row:hover td {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.ant-collapse-content {
  background-color: theme("colors.springWood") !important;
}

.ant-card-actions {
  background-color: theme("colors.seaBuckthorn") !important;
  border-top-color: rgba(0, 0, 0, 0.35) !important;
}
.ant-card-actions li {
  border-color: rgba(0, 0, 0, 0.35) !important;
}
.ant-card-actions li span .anticon:hover {
  color: rgba(0, 0, 0, 0.75) !important;
}
